<h1>Create Branch</h1>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10">
            <label class="control-label col-sm-1" for="text">City</label>
            <input type="text" class="form-control" id="branch-city-field" placeholder="Branch City">
        </div>
        <div class="col-sm-10">
            <label class="control-label col-sm-1 " for="text">Country</label>
            <input type="number" class="form-control" id="branch-Country-field" placeholder="Branch Country">
        </div>
        <div class="col-sm-10">
            <label class="control-label col-sm-1 " for="text">Established</label>
            <input type="datetime-local" class="form-control" id="branch-established-field" placeholder="Branch Established">
        </div>
        <div class="col-sm-10">
            <div class="control-label col-sm-1">
                <button onclick="addBranch()" class="btn btn-default">Send</button>
                <div class="statusOutput"></div>
            </div>
        </div>
    </div>
</div>