<table id="branches-table">
    <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Established</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>