<!-- views/Admin_Page.ejs -->
    <div class="content text-center"> 
        <div class="products-row">
        <p> Products: 

        <a href="/admin/products">
            <button class="btn btn-info">All Products</button>
        </a>


        <a href="/admin/products/new">
            <button class="btn btn-info">New Product</button>
        </a>

        <a href="/admin/products/:id/delete">
            <button class="btn btn-info">Delete Product</button>
        </a>
        </p>
    </div>
        <a href="/statistics">
        <button class="btn btn-success" style="margin: 10px;">Statistics</button>
        </a>
        <div class="suppliers-row">
            <p> Suppliers: 
                <a href="/admin/suppliers">
                    <button class="btn btn-info">All suppliers</button>
                </a>

                <a href="/admin/suppliers/new">
                    <button class="btn btn-info" style="margin: 10px;">New supplier</button>
                </a>
    
                <a href="/admin/suppliers/:id/delete">
                    <button class="btn btn-info">Delete supplier</button>
                </a>
            </p>
        </div>
        <div class="users-row">
            <p> Users: 
                <a href="/admin/all">
                    <button class="btn btn-info">All users</button>
                </a>

                <a href="/registration">
                    <button class="btn btn-info" style="margin: 10px;">New user</button>
                </a>
    
                <a href="/admin/:id/delete">
                    <button class="btn btn-info">Delete user</button>
                </a>
            </p>
        </div>
    </div>
