<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet" />
    <title>DIKANA Store - Admin</title>
</head>
<body>
    <div class="top-bar">
        <button>Home</button>
        <div class="logo">DIKANA</div>
        <button>Log in</button>
    </div>
    
    <div class="content text-center">
        <button class="btn btn-primary" style="margin: 10px;">Users</button>
        <button class="btn btn-success" style="margin: 10px;">Statistics</button>
        <div class="suppliers-row">
            <p> Suppliers: 
            <button class="btn btn-info" style="margin: 10px;">All Suppliers</button>
            <button class="btn btn-info" style="margin: 10px;">New Suppliers</button>
            <button class="btn btn-info" style="margin: 10px;">Delete Suppliers</button>
            </p>
        </div>
        <div class="Product-row">
            <p> Product: 
                <button class="btn btn-info" style="margin: 10px;">All Product</button>
                <button class="btn btn-info" style="margin: 10px;">New Product</button>
                <button class="btn btn-info" style="margin: 10px;">Delete Product</button>
            </p>
        </div>
    </div>
    
    <footer>
        <div style="text-align: center; padding: 20px; background-color: #b71c1c; color: gold; font-family: 'Shrikhand', cursive;">
            Thank you for visiting DIKANA. Namaste! 🙏
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
