<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet"> <!-- Indian style font -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <title>DIKANA Store</title>
   
   <link href="/css/home.css" rel="stylesheet" />
</head>

<body>
    <div class="top-bar">
        <a href="HomePage.ejs">
        <button>Home</button>
    </a>
        <div class="logo">DIKANA</div>
        <button>Log in</button>
    </div>

    <div class="content">
        <div class="info">
            <div class="info-content">Your order has been received in the system!  Thank you and see you soon!</div>
        </div>
    
        <div class="center">
            <a href="/">
                <button id="storeBtn">Home Page</button>
            </a>
        </div>

            <footer>
                <div style="text-align: center; padding: 20px; background-color: #b71c1c; color: gold; font-family: 'Shrikhand', cursive;">
                    Thank you for visiting DIKANA. Namaste! 🙏
                </div>
            </footer>
        
            <script src="/js/home.js"></script>
        </body>
        </html>
    
