<!-- views/CheckOut.ejs -->

    <div class="content">
        <div class="info">
            <div class="info-content">Your order has been received in the system!  Thank you and see you soon!</div>
        </div>
    
        <div class="center">
            <a href="/">
                <button id="storeBtn">Home Page</button>
            </a>
        </div>

    
    
