<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <h1><%= branches[0].lat %></h1>
            <p>Home page content goes here.</p>
        </div>
    </body>
</html>