<!-- views/HomePage.ejs -->

<body>
        
    <div class="content">
        <div class="info">
            <div class="info-title">Welcome to DIKANA Store!</div>
            <div class="info-content">We offer a wide variety of products sourced from the best artisans across India. Enjoy your shopping experience!</div>
        </div>
    
        <div class="center">
            <a href="/store">
                <button id="storeBtn">Store</button>
            </a>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/6qbjk8l4oTg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    

    <!-- remove from here and from public -->
        <!--
        <div class="real-time-data">
            <div id="time">Current Time: --:--</div>
            <div id="temperature">Temperature: -- °C</div>
   
            <div class="store-title">Our Stores:</div>
            <div id="map" class="map-container"></div>
        </div>
        -->
    </div>
</body>
    
