<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3.js Scatter Plot</title>
    <script src="Indian-Website\node_modules\d3\dist\d3.min"></script>
</head>
<body>
    <svg width="600" height="600"></svg>

    <script>
        src = "/js/priceRange_graph.js"
    </script>
</body>
</html>