<h1>Create Product</h1>
<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-10">
      <label class="control-label col-sm-1" for="text">name</label>
      <input
        type="text"
        class="form-control"
        id="name-field"
        placeholder="name"
      />
    </div>
    <div class="col-sm-10">
      <label class="control-label col-sm-1" for="text">price</label>
      <input
        type="text"
        class="form-control"
        id="price-field"
        placeholder="price"
      />
    </div>
    <div class="col-sm-10">
      <div class="control-label col-sm-1">
        <button onclick="addProduct()" class="btn btn-default">Send</button>
        <div class="statusOutput"></div>
      </div>
    </div>
  </div>
</div>
